Experiment 8 : To study For Loop in python

Name : Vivek Reddy

PRN : 25070123135

In [ ]:
# Syntax of for loop

#for variable in sequence:
 # statements(s)

In [13]:
#print numbers from 1 to 5
del range
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [15]:
# print even numbers from 1 to 10
for i in range(2, 11, 2):
  print(i)

2
4
6
8
10

In [27]:
# sum of first n numbers
n = int(input("Enter n: "))
total = 0
for i in range(1, n + 1):
  total = total + i
print("sum :",total)

Enter n: 5
sum : 15

In [38]:
# print a 3x3 matrix
A = [[1,2,3,],[4,5,6],[7,8,9]]
for i in range (3):
  for j in range(3):
    print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [64]:
A = [[1,2,3,],[4,5,6],[1,2,1]]
B = [[1,1,1],[6,5,4],[3,2,1]]
result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range (3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("Product of matrices: ")
for row in result:
  print(row)

Product of matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [65]:
#python program to accept three digits and print
d1 = 1
d2 = 2
d3 = 3
d = [d1,d2,d3]
for i in range (0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i] != d[j] and d[j] != d[k] and d[k] != d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [71]:
# print right angled triangle pattern
for n in range (5, 0, -1) :
  print("* " * n)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [83]:
# print pyramid pattern
rows = 5
for n in range (1,rows + 1) :
  print(" " * (rows - n) + "* " * n)

    *
   * *
  * * *
 * * * *
* * * * *